<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RoboRally/tool/com/balancedbytes/game/roborally/tool/PasswordHashGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.balancedbytes.game.roborally.tool.PasswordHashGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="MyPassword 6a5a7593ab6b7095bd0d0bd7e802b7dc7993af7300d3f7f852f6462f38407e4b"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RoboRally"/>
</launchConfiguration>
