<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<display-name>WineCellar</display-name>

	<servlet>
    	<servlet-name>Jersey REST Service</servlet-name>
    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	     <!-- Register resources and providers -->
	    <init-param>
	        <param-name>jersey.config.server.provider.packages</param-name>
	        <param-value>com.balancedbytes.mystuff;org.codehaus.jackson.jaxrs</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>Jersey REST Service</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
	  	<description>
	    	Resource reference to a factory for java.sql.Connection
	    	instances that may be used for talking to a particular
	    	database that is configured in the Context
	    	configuration for the web application.
		</description>
		<res-ref-name>jdbc/mystuff</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>